<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MetaStockUri" value="http://resources.invertironline.com/iolresearch/IOL_Metastock.zip" />
    <add key="LocalStoragePath" value="C:\\MetaStock Data\\Acciones" />
    <add key="LocalStorageZipPath" value="C:\\MetaStock Data\\Acciones\\IOL_Metastock.zip" />
  </appSettings>
</configuration>